@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1E101D;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: #db991f;
}

a {
    text-decoration: none;
}

#navbar{
    text-align: right;
    padding: 20px;
    background-color: rgb(31, 31, 31);
}

#navbar ul{
    list-style: none;
}

#navbar ul li{
    display: inline;
    margin-right: 10px;
}

#navbar ul li a{
    color:white;
}

#navbar ul li a:hover{
    font-weight: 700;
}

#content-box{
    padding: 10px;
}

#profile-box{
    width: 80%;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
}
#name-box{
    text-align: center;
}
#description-profile-box{
    width: 60%;
}

#img-profile-box{
    width: 35%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.068);
}

#hero-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}

#profile-image{
    border-radius: 50%;
}

#nationality {
    font-weight: 600;
}

.uml {
    font-size: 14px;
}

.modelagem {
    font-size: 16px;
}

.sql {
    font-size: 18px;
}

.php {
    font-size: 20px;
}

.codeigniter {
    font-size: 22px;
}

.composer {
    font-size: 24px;
}

.html5 {
    font-size: 26px;
}

.poo {
    font-size: 28px;
}

.planilhas {
    font-size: 30px;
}

.inline-box{
    display: inline-block;
}