@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display&family=Rubik+Dirt&display=swap');
/* font-family: 'Rubik Dirt', cursive; */
/* font-family: 'Noto Sans Display', sans-serif; */
/* font-family: 'Anton', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body {

    font-family: Noto Sans Display, sans-serif;
    background-color: #333333;
    color: rgb(245, 245, 245);
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
}

h1{
    font-size: 30px;
}

a {
    text-decoration: none;
}

main{
}

#content-left{
    height: 768px;
    background-color: rgb(22, 22, 22);
}

#content-right{
    padding: 20px;
    position: absolute;
}

#navbar{
    text-align: right;
    padding: 20px;
    background-color: rgb(31, 31, 31);
}

#nav-bar li{
    list-style: none;
    margin-top: 20px;
}

#nav-bar a{
    color: rgb(245, 245, 245);
}

#navbar ul{
    list-style: none;
}

#navbar ul li{
    display: inline;
    margin-right: 10px;
}

#navbar ul li a{
    color:white;
}

#navbar ul li a:hover{
    font-weight: 700;
}

#image-box{
    margin-left: 50px;
    margin-top: 200px;
    display: inline-block;
}

#image-box img{
    border-radius: 50%;
    position: relative;
    width: 200px;
}

#profile-box{
    width: 80%;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
}
#name-box{
    text-align: center;
}

#hero-title {
    font-size: 3em;
}

#description-profile-box{
    max-width: 60%;
    text-align: justify;
}

#img-profile-box{
    min-width: 35%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.068);
}

#profile-image{
    border-radius: 50%;
}

#skills-aquired-box{
    height: 400px;
    
}

#skills-aquired-box img{
    width: 600px;
}

#skills-aquired-list{
    padding-top: 60px;
    padding-right: 60px;
}

#skills-aquired-list ul li:nth-of-type(2n+1){
    text-decoration: underline;
}

.absolute{
    position: absolute;
}

.italic{
    font-style: italic;
}

.inline-block{
    display: inline-block;
}
.margin-top{
    margin-top: 30px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}