@import url('https://fonts.googleapis.com/css2?&family=Noto+Sans+Display&display=swap');
/* font-family: 'Noto Sans Display', sans-serif; */

:root{
    --color-white: rgb(245, 245, 245);
    --color-gray: #333333;
    --color-black: rgb(22, 22, 22);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Noto Sans Display, sans-serif;
    background-color: var(--color-gray);
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans Display', sans-serif;
}

h1{
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 50px;
    font-family: 'Noto Sans Display', sans-serif;
}

a {
    text-decoration: none;
}

main{
}

#content-left{
    height: auto;
    width: 20%;
    min-height: 600px;
    background-color: var(--color-black);
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
}

#navbar{
    text-align: right;
}

#nav-bar ul li{
    list-style: none;
    margin-top: 20px;
}

#nav-bar ul li a{
    color: var(--color-white);
}

#nav-bar ul li a:hover{
    font-weight: 700;
}

#content-right{
    width: 70%;
    padding: 20px;
    position: absolute;
}

#image-box{
    margin-left: 50px;
    margin-top: 180px;
}

#image-box img{
    border: 4px solid var(--color-black);
    border-radius: 50%;
    width: 240px;
}

#presentation-box{
    text-align: justify;
    margin-left: 100px;
    padding-top: 180px;
}

#presentation-box p{
    max-width: 400px;
}

#img-profile-box{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.068);
}

#profile-image{
    border-radius: 50%;
}

#listas-container-box{
    margin-top: 70px;
    padding: 30px;
    padding-left: 270px;
}

#listas-container-box ul{
    line-height: 50px;
    list-style: none;
}

#listas-container-box ul li{
    text-align: left;
    font-size: 30px;
}

#footer{
    text-align: center;
    margin-top: 30px;
    background-color: var(--color-black);
    padding: 30px;
}

.lista-box:nth-of-type(2n){
    margin-left: 95px;
}

.absolute{
    position: absolute;
}

.italic{
    font-style: italic;
}

.inline-block{
    display: inline-block;
}

.row{
    margin-top: 80px;
}